<div class="login-box">
  <div class="login-logo">
    <img src='assets/images/sigla-govithub.png' />
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"><app-html contentName="backend.forgotPassword.prompt"></app-html></p>
      <div [class]="'callout ' + (result.error ? 'callout-danger' : 'callout-success')" *ngIf="result.message"><app-html [contentName]="'backend.httpErrors.' + result.message"></app-html></div>

    <form #myForm="ngForm" novalidate>
      <div class="form-group has-feedback">
        <input type="text" placeholder="{{ 'backend.login.email' | htmlContent:contentService.htmlContent }}" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required [(ngModel)]="email" class="form-control">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-6">
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" (click)="sendPasswordReset()" class="btn btn-primary btn-block btn-flat">Recuperare parola</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
