<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header"><app-html contentName="backend.menu.navigation"></app-html></li>
          <li routerLinkActive="active">
            <a routerLink="supplier-list">
              <i class="fa fa-address-book-o"></i>
              <span><app-html contentName="backend.menu.furnizori"></app-html></span>
            </a> 
          </li>
          <li routerLinkActive="active">
            <a routerLink="course-list">
              <i class="fa fa-book"></i>
              <span><app-html contentName="backend.menu.cursuri"></app-html></span>
            </a> 
          </li>
          <li routerLinkActive="active">
            <a routerLink="voucher-list">
              <i class="fa fa-ticket"></i>
              <span><app-html contentName="backend.menu.vouchere"></app-html></span>
            </a> 
          </li>

          <li routerLinkActive="active">
            <a routerLink="fermieri-list">
              <i class="fa fa-truck"></i>
              <span><app-html contentName="backend.menu.fermieri"></app-html></span>
            </a> 
          </li>

          <li routerLinkActive="active">
            <a routerLink="reports-list">
              <i class="fa fa-pie-chart"></i>
              <span><app-html contentName="backend.menu.reports"></app-html></span>
            </a> 
          </li>

          <li routerLinkActive="active">
            <a routerLink="reports-list">
              <i class="fa fa-users"></i>
              <span><app-html contentName="backend.menu.users"></app-html></span>
            </a> 
          </li>
          <li routerLinkActive="active">
            <a routerLink="content-list">
              <i class="fa fa-code"></i>
              <span><app-html contentName="backend.menu.content"></app-html></span>
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <i class="fa fa-sign-out"></i>
              <span><app-html contentName="backend.menu.logout"></app-html></span>
            </a>
          </li>
      <!-- Optionally, you can add icons to the links -->

    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
