<div class="login-box">
  <div class="login-logo">
    <img src='assets/images/sigla-govithub.png' />
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"><app-html contentName="backend.resetPassword.prompt"></app-html></p>
      <div [class]="'callout ' + (result.error ? 'callout-danger' : 'callout-success')" *ngIf="result.message">{{ 'backend.httpError.' + result.message | htmlContent:contentService.htmlContent }}</div>
    <form #myForm="ngForm" novalidate>
      <div class="form-group has-feedback">
        <input type="password" placeholder="{{ 'backend.login.password' | htmlContent:contentService.htmlContent }}" name="password" minlength="6" required [(ngModel)]="m_password" #password="ngModel" class="form-control">
          <div *ngIf="!password.valid && showError" class="error">
              <i class="fa fa-info-circle"></i> {{ 'backend.errors.login.password' | htmlContent:contentService.htmlContent }}
          </div>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" placeholder="{{ 'backend.login.repeatPassword' | htmlContent:contentService.htmlContent }}" validateEqual="password" name="repeatPassword" [(ngModel)]="m_r_password" #repeatPassword="ngModel" class="form-control">
          <div *ngIf="!repeatPassword.valid && showError" class="error">
              <i class="fa fa-info-circle"></i> {{ 'backend.errors.login.repeatPassword' | htmlContent:contentService.htmlContent }}
          </div>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
     <div class="row">
        <div class="col-xs-6">
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" (click)="resetPassword()" class="btn btn-primary btn-block btn-flat">Recuperare parola</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</div>
